.nav-container {
    padding-top: 5px;
    padding-bottom: 15px;

    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            

            img {
                width: 30px;

                @include for-mobile-layout {
                    width: 20px;
                }
            }

            h3 {
                font-weight: 500;
                font-size: xx-large;

                @include for-mobile-layout {
                    font-size: large;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .nav-items {
            display: flex;
            gap: 20px;
            font-size: large;


            @include for-tablet-layout {
                display: none;
            }

            & > *.active {
                color: $secondColor;
            }
            
            & > *:hover {
                transform: translateY(-5px);
                transition: transform 0.3s ease-in-out;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}