.nav-container {
    padding-top: 5px;
    padding-bottom: 15px;

    .nav-content {
        display: flex;
        justify-content: space-between;

        .nav-logo {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;

            img {
                width: 30px;
            }

            h3 {
                font-weight: 500;
                font-size: xx-large;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .nav-items {
            display: flex;
            gap: 20px;
            font-size: large;

            & > *.active {
                color: rgb(8, 129, 243);
            }
            
            & > *:hover {
                transform: translateY(-5px);
                transition: transform 0.3s ease-in-out;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}