.code-block-preview {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    color: $secondColor;

    transition: transform 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }

    @include for-mobile-layout {
        font-size: small;
        padding: 10px;
    }
}