// Colors
$mainBgColor: rgb(29, 29, 31);
$mainColor: rgb(222, 222, 228);
$secondColor: rgb(58, 160, 255);
$correct: rgb(49, 240, 11);
$codeBg: rgb(49, 49, 49);
$codeBorder: rgb(143, 143, 143);

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;